<div class="home-hero">
            <h1>Select the Country</h1>

		    <div style="opacity: .9;">
	        	<div class="form-actions">		
			        <a class="btn btn-large" href="#airports/<%= "USA" %>" usa><img src="img/usa.jpg" class="pull-left" style="margin-right:6px;"/> USA </a>
			        <a class="btn btn-large" href="#airports/<%= "Spain" %>" spain>
			            <img src="img/spain.jpg" class="pull-left" style="margin-right:6px"/> Spain </a>
			        <a class="btn btn-large" href="#">
			            <img src="img/world.jpg" class="pull-left" style="margin-right:6px"/> Other <br/>Countries</a>
				</div>			                        
		    </div>

</div>
<script>
  $(function ()
  {
  		console.log("CountryView I am here");
  })  
</script>	